body {
    background-color: lightblue;
    font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
}

.navBar {
    overflow: hidden;
    background-color: white;
    top: 0px;
    width: 100%;
    height: 27px;
    padding: 2.5%;
    position: fixed
}
  
.navBar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border: black 5px;
    text-decoration: none;
    font-size: 40px;
}
  
.navBar a:hover {
    background-color: red;
    color: white;
}

.logo {
    position: relative;
    top: -30px;
    left: -100px;
    z-index: 2;
}

.navBar a.home {
    position: relative;
    top: -20px;
    left: 530px;
}

.navBar a.about {
    position: relative;
    top: -21px;
    left: 560px;
}

.navBar a.contact {
    position: relative;
    top: -22px;
    left: 575px;
}

#backgroundPic {
    position: relative;
    top: 103px;
    z-index: -1;
}

#advertisement {
   position: absolute;
   top: 210px;
   left: 35px;
   background-color: rgba(0, 0, 0, 0);
   color: white;
   font-size: 28px;
   padding-left: 20px;
   padding-right: 20px;
}

#importantInfo {
    position: absolute;
    top: 0px;
    right: 65px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 22px;
    padding: 2.5px 20px;
}

.content {
    margin-top: 100px;
}

#news {
    background-color: navy;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    text-align: center;
}

#news h2 {
    color: white;
}

#news p {
    color: white;
}

#news a {
    color: white;
}
