body {
    background-color: lightblue;
    font-family: Roboto, Ubuntu, 'Open Sans', sans-serif;
}
 
.backgroundPic {
    top: 1000px;
} 

.navBar {
    overflow: hidden;
    background-color: white;
    top: 0px;
    width: 1920px;
    height: 100px;
    padding: 2.5%;
    /* position: fixed;*/
}
  
.navBar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border: black 5px;
    text-decoration: none;
    font-size: 40px;
}
  
.navBar a:hover {
    background-color: red;
    color: white;
}

.navBar a.home {
    top: 50px;
    left: 475px;
}

.navBar a.about {
    top: 32px;
    left: 560px;
}

.navBar a.contact {
    top: 32px;
    left: 100px;
}

.logo {
    top: 0px;
    left: 325px;
}

.content {
    top: 300px;
    margin-top: 30px;
}